<?xml version='1.0'?>
<model>
  <name>automi</name>
  <version>1.0.0</version>
  <author>
    <name>Arunim Joarder</name>
    <email>TODO</email>
  </author>
  <sdf>urdf/automi.urdf.xacro</sdf>
  <description>
    Describes DarwinOP robot model with camera plugin and accelerometer plugin (hector) for Gazebo
  </description>
</model>
