<launch>

   <param name="robot_description"
  command="xacro '$(find automi_description)/urdf/automi.urdf.xacro'" />  

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/empty.world"/>
    <arg name="paused" value="true"/>
    
  </include>
  
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model automi -z 0.5" />


  <include file="$(find automi_control)/launch/automi_control.launch"/>

  <!-- <node name="automi_walker" pkg="automi_gazebo" type="walker.py" /> -->
  <node pkg="automi_gazebo" type="checkcontroller_node" name="checkcontroller"/>






</launch>
