<?xml version="1.0"?>
<robot name="automi" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:property name="PI" value="3.1415926535897931"/>

    <xacro:include filename="$(find automi_description)/urdf/dynamixels.urdf.xacro" />
    <xacro:include filename="$(find automi_description)/urdf/torso.urdf.xacro" />
    <xacro:include filename="$(find automi_description)/urdf/arm.urdf.xacro" />
    <xacro:include filename="$(find automi_description)/urdf/leg.urdf.xacro" />
    <xacro:include filename="$(find automi_description)/urdf/transmissions.urdf.xacro" />
    
    <link name="floating_base">
        <inertial>
            <mass value="0.0005"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
    </link>

    <xacro:torso
        name="body"
        parent="floating_base">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </xacro:torso>

    <xacro:leg
        name="l"
        parent="body_hip"
        reflect="1">
        <origin xyz="0.045 -0.01 0.01" rpy="0.0 ${PI} 0.0"/>
    </xacro:leg>
    <xacro:leg
        name="r"
        parent="body_hip"
        reflect="-1">
        <origin xyz="-0.045 -0.01 0.01" rpy="0.0 ${PI} 0.0"/>
    </xacro:leg>
    
    <xacro:arm
        name="r"
        parent="body_chest"
        reflect="-1">
        <origin xyz="-0.065 0.0 0.04" rpy="${PI/2} 0.0 ${3*PI/2}"/>
    </xacro:arm>
    <xacro:arm
        name="l"
        parent="body_chest"
        reflect="1">
        <origin xyz="0.065 0.0 0.04" rpy="${PI/2} 0.0 ${-3*PI/2}"/>
    </xacro:arm>

    <gazebo>
        <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
            <robotNamespace>/automi</robotNamespace>
        </plugin>
    </gazebo>


</robot>