<?xml version="1.0"?>
<robot name="automi" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:property name="PI" value="3.1415926535897931"/>

    <xacro:include filename="$(find automi_description)/urdf/dynamixels.urdf.xacro" />
    <xacro:include filename="$(find automi_description)/urdf/torso.urdf.xacro" />
    <xacro:include filename="$(find automi_description)/urdf/arm.urdf.xacro" />
    <xacro:include filename="$(find automi_description)/urdf/leg.urdf.xacro" />
    
    <link name="floating_base">
        <inertial>
            <mass value="0.0005"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
    </link>

    <xacro:torso
        name="body"
        parent="floating_base">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </xacro:torso>

    <xacro:leg
        name="l"
        parent="body_hip"
        reflect="1">
        <origin xyz="0.045 -0.01 0.01" rpy="0.0 ${PI} 0.0"/>
    </xacro:leg>
    <xacro:leg
        name="r"
        parent="body_hip"
        reflect="-1">
        <origin xyz="-0.045 -0.01 0.01" rpy="0.0 ${PI} 0.0"/>
    </xacro:leg>
    
    <xacro:arm
        name="r"
        parent="body_chest"
        reflect="-1">
        <origin xyz="-0.065 0.0 0.04" rpy="${PI/2} 0.0 ${3*PI/2}"/>
    </xacro:arm>
    <xacro:arm
        name="l"
        parent="body_chest"
        reflect="1">
        <origin xyz="0.065 0.0 0.04" rpy="${PI/2} 0.0 ${-3*PI/2}"/>
    </xacro:arm>

    <gazebo>
        <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
            <robotNamespace>/automi</robotNamespace>
        </plugin>
    </gazebo>

    <xacro:macro name="trans" params="num joint">
        <transmission name="tran${num}">
            <joint name="${joint}">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="servo${num}">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>

    <xacro:trans num="1"  joint="r_hip_r"/>
    <xacro:trans num="2"  joint="r_hip_p"/>
    <xacro:trans num="3"  joint="r_hip_y"/>
    <xacro:trans num="4"  joint="r_knee"/>
    <xacro:trans num="5"  joint="r_ankle_r"/>
    <xacro:trans num="6"  joint="r_ankle_p"/>
    <xacro:trans num="7" joint="l_hip_r"/>
    <xacro:trans num="8" joint="l_hip_p"/>
    <xacro:trans num="9" joint="l_hip_y"/>
    <xacro:trans num="10" joint="l_knee"/>
    <xacro:trans num="11" joint="l_ankle_r"/>
    <xacro:trans num="12" joint="l_ankle_p"/>
    <xacro:trans num="13"  joint="r_shoulder_r"/>
    <xacro:trans num="14" joint="r_shoulder_p"/>
    <xacro:trans num="15" joint="r_elbow"/>
    <xacro:trans num="16" joint="l_shoulder_r"/>
    <xacro:trans num="17" joint="l_shoulder_p"/>
    <xacro:trans num="18" joint="l_elbow"/>
    <xacro:trans num="19"  joint="head_pan"/>
    <xacro:trans num="20"  joint="head_tilt"/>

</robot>