<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="leg" params="name *origin parent reflect">
        <!-- LINKS -->
        <xacro:MX28
            name="${name}_hip_y"
            parent="${parent}"
            child="${name}_thigh">
            <xacro:insert_block name="origin"/>
            <origin xyz="0.0 0.0 0.022" rpy="0.0 0.0 0.0"/>
        </xacro:MX28>

        <link name="${name}_thigh">
            <inertial>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <mass value="0.0524686"/>
                <inertia ixx="3.79355686e-05" ixy="1.22736951e-05" ixz="2.4462e-10" iyy="6.47107923e-05" iyz="2.1033e-10" izz="7.72305303e-05"/>
            </inertial>
            <visual name="">
                <origin xyz="-0.02 0.03 0.045" rpy="${-PI/2} 0.0 ${PI/2}"/>
                <geometry>
                    <!-- <box size="0.10 0.05 0.005"/> -->
                    <mesh filename="package://automi_description/meshes/thigh.stl"  scale="1e-2 1e-2 1e-2"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="-0.02 0.03 0.045" rpy="${-PI/2} 0.0 ${PI/2}"/>
                <geometry>
                    <!-- <box size="0.10 0.05 0.005"/> -->
                    <mesh filename="package://automi_description/meshes/thigh.stl"  scale="1e-2 1e-2 1e-2"/>
                </geometry>
            </collision>
        </link>

        <xacro:MX28
            name="${name}_hip_r"
            parent="${name}_thigh"
            child="${name}_int_hip">
            <origin xyz="0.0 0.042 0.035" rpy="${PI/2} 0.0 0.0"/>
            <origin xyz="0.0 0.0 0.05" rpy="0 0 0.0"/>
        </xacro:MX28>

        <link name="${name}_int_hip">
            <inertial>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <mass value="0.0005"/>
                <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
            </inertial>
        </link>

        <xacro:MX64
            name="${name}_hip_p"
            parent="${name}_int_hip"
            child="${name}_upper_leg">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 ${PI/2*(1+reflect)} 0.0"/>
            <origin xyz="0.0 0.0 0.0" rpy="${PI/2} 0.0 ${PI/2}"/>
        </xacro:MX64>

        <link name="${name}_upper_leg">
            <inertial>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <mass value="0.0308695"/>
                <inertia ixx="2.44928245e-05" ixy="-8.1e-13" ixz="-1.08e-12" iyy="1.5896763e-05" iyz="-1.055808e-07" izz="1.52603879e-05"/>
            </inertial>
            <visual name="">
                <origin xyz="-0.025 -0.03 -0.02" rpy="${PI/2} 0.0 ${PI/2}"/>
                <geometry>
                    <!-- <box size="0.15 0.025 0.025"/> -->
                    <mesh filename="package://automi_description/meshes/upper_leg.stl"  scale="1e-2 1e-2 1e-2"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="-0.025 -0.03 -0.02" rpy="${PI/2} 0.0 ${PI/2}"/>
                <geometry>
                    <!-- <box size="0.15 0.025 0.025"/> -->
                    <mesh filename="package://automi_description/meshes/upper_leg.stl"  scale="1e-2 1e-2 1e-2"/>
                </geometry>
            </collision>
        </link>

        <xacro:MX64
            name="${name}_knee"
            parent="${name}_upper_leg"
            child="${name}_lower_leg">
            <origin xyz="0.115 0.0 0.0" rpy="0.0 0.0 ${PI/2}"/>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        </xacro:MX64>

        <link name="${name}_lower_leg">
            <inertial>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <mass value="0.0387102"/>
                <inertia ixx="4.41099235e-05" ixy="-0" ixz="-5.4e-13" iyy="3.13463693e-05" iyz="-2.8154088e-07" izz="1.91534236e-05"/>
            </inertial>
            <visual name="">
                <origin xyz="0.01 0.0 0.002" rpy="${PI/2} 0.0 0.0"/>
                <geometry>
                    <!-- <box size="0.025 0.15 0.025"/> -->
                    <mesh filename="package://automi_description/meshes/lower_leg.stl"  scale="1e-2 1e-2 1e-2"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0.01 0.0 0.002" rpy="${PI/2} 0.0 0.0"/>
                <geometry>
                    <!-- <box size="0.025 0.15 0.025"/> -->
                    <mesh filename="package://automi_description/meshes/lower_leg.stl"  scale="1e-2 1e-2 1e-2"/>
                </geometry>
            </collision>
        </link>

        <xacro:MX28
            name="${name}_ankle_p"
            parent="${name}_lower_leg"
            child="${name}_int_ankle">
            <origin xyz="0.0 -0.115 0.0" rpy="0.0 0 0"/>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        </xacro:MX28>

        <link name="${name}_int_ankle">
            <inertial>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <mass value="0.0005"/>
                <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
            </inertial>
        </link>

        <xacro:MX64
            name="${name}_ankle_r"
            parent="${name}_int_ankle"
            child="${name}_foot">
            <origin xyz="${reflect*0.05} 0.0 0.0" rpy="0 0 0"/>
            <origin xyz="0.0 0.0 0.0" rpy="0 ${reflect*-PI/2} 0.0"/>
        </xacro:MX64>

        <link name="${name}_foot">
            <inertial>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <mass value="1.0"/>
                <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
            </inertial>
            <visual name="">
                <origin xyz="0.0 -0.04 0.04" rpy="0.0 ${PI/2} 0.0"/>
                <geometry>
                    <!-- <box size="0.10 0.005 0.14"/> -->
                    <mesh filename="package://automi_description/meshes/foot.stl"  scale="1e-2 1e-2 1e-2"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0.0 -0.04 0.04" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="0.10 0.005 0.14"/>
                </geometry>
            </collision>
        </link>
    
    </xacro:macro>

</robot>